# Postgres variables
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=5433
#CONTAINER_PORT=5432

# RStudio variables
RSTUDIO_PORT=8787

# Python variables
PYTHON_PORT=8888
